<div class="main top-main">
  <div class="top-message">
    <h2>Tenba×Iya</h2>
    <ul>
      <li><%=link_to("Tenba×Iyaとは","/about")%></li>
      <li><%=link_to("商品一覧","/posts/index")%></li>
      <li><%= link_to("商品登録", "/posts/new")%></li>
      <li><%= link_to("チケット検索", "/posts/find")%></li>
    </ul>


  </div>
</div>
