<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">チケット検索</h1>
    <%= form_tag("/posts/findticket") do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>  
          <input name="ticket_id"><%= %>
          <input type="submit" value="検索">
        </div>
      </div>
    <% end %>
  </div>
</div>