<div class="main posts-show">
  <div class="container">
  <h1 class="form-heading">SMS送信</h1>
    <div class="posts-show-item">
      <p>商品名</p>
      <p1>　<%=@post.content %></p1>
    </div>
    <%= form_tag("/posts/#{@post.id}/sending") do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>電話番号</p>
          <input type=”number” name="phonenumber"  value="">
          <input type="submit" value="送信">
          <p1>※ハイフン(-)なしで入力</p1>
        </div>
      </div>
    <% end %>
  </div>
</div>